---
title: {{ title }}
description: {{ description }}
pubDate: 'Feb 13, 2024'
---

#### [{{subtitle}}]{style="color: #236fa1;"}

**Instructor:** {{ instructor }}

**Instructor email:** <{{ instructor_email or lane@totalgood.com }}>

**Course of Record Number (CRN)**: {{ crn or 53133 }}

### Description

{{ course_description_md }}

### Important dates

{{ important_dates_md }}


### Prerequisites

    •  High School Algebra

 

### Learning objectives and schedule

**Week 1.** Python programming language,  variables and types

        Sign into Runestone.Academy, read a chapter, and run code
examples in the browser.

        FOPP-1: Edit and run Python expressions and programs from the
command line

**Week 2.** Debugging and object oriented programming

        FOPP-2: Set and examine variable values and understand basic
types (`str`, `float`, and `int` )

        FOPP-3: Error types, error messages, finding and correcting
logic and syntax errors.

Week 3.  Sequences and iteration

        FOPP-4: Import and use modules, namespaces, and object methods.

        FOPP-5: : Use the Python `turtle` module to visualize program
control flow in for loops.   

**Week 4.**

        Project: Install Python and a text editor (Spyder, PyCharm or
SublimeText) or IDE

        FOPP-6: Indexing, slicing, and combining lists and strings
(`list`, `str`, `\[start:stop\]`)

        FOPP-7: Iterating through sequences with `for` and `while`
loops

**Week 5.**  Conditional expressions and modifying sequences

        Project: Create a single-turn text adventure game using
`input()`, `print()`, `if`, `else`.

        Project: Run a Python program (\*.py) file from command line.

        FOPP-8: Use conditional expressions (`if`, `else`) to
control program flow

        FOPP-9: Modifying sequences and the accumulator pattern

**Week 6.**  Files and dictionaries

        Project: Create a text adventure game with 5+ turns using hard
coding.

        FOPP-10: Reading and writing files (`open`, `read`, and
`write`)

        FOPP-11: Dictionaries (nested `dict` containers)

**Week 7.**  Functions and tuples

        FOPP-12: Functions  (`def`)

        FOPP-13: Tuples (`tuple()`)

        MIDTERM EXAM

**Week 8.**  Midterm project - Build a text adventure game

        Define container variables (`list`, `tuple`, `dict`) with
game content (`str`, `int`) \
        Use `input` and `output` to interact with the user through
the console (terminal)\
        Use conditionals and looping to handle invalid user input
(`while` and/or `for)

**Week 9.**  Advanced iteration patterns and functions

        FOPP-14: Advanced iteration

        FOPP-15: Advanced functions and `kwargs`

**Week 10.  **

        FOPP-16: Sorting sequences

        FOPP-17: Nested data

**Week 11.  **

        FOPP-18: Test cases

        FOPP-19: Exceptions (`try` and `except`)

**Week 12.  **

        FOPP-20:  Classes and objects

        FOPP-21: Building Programs

**Week 13. FINAL EXAM**

        Designing, building, testing and debugging Python programs from
scratch.

        Understanding nested data structures and flat file formats for
data-driven Python programs

Week 14. Installing and using external Python packages (`pandas` and
`doctest`)

        Pandas Python package for reading and writing HTML and CSV
tables.

        Project: Move content from hard-coded Python variable
definitions to a Spreadsheet

Week 15.

        Final Project: Load text-adventure game (or chatbot) content
from CSV.

        Final Project: Use functions, loops, and text files (CSV) to
create data-driven Python programs

### Grading

grading_md
Your final grade will be the weighted average of your accumulated scores
on reading assignments, quizzes, programming assignments (labs) and
exams.

* {{reading_pct or 15}}%: {{reading_rubric or 'Weekly reading assignments in Runestone (1 point per assignment)'}}
* {{quizzes_pct or 15}}%: {{quizzes_rubric or '15 Weekly quizzes in Runestone (1 point per quiz)}}
* {{midterm_pct or 15}}%: Midterm exam in Runestone
* {{midterm_project_pct['total'] or 15}}%: Midterm project (programming assignment)
  * {{midterm_project_pct['syntax'] or 5}}%: Does the program run without syntax errors
  * {{midterm_project_pct['requirements'] or 5}}%: Does the program contain all the required elements of the assignment
  * {{midterm_project_pct['style'] or 3}}%: Does the program utilize correct Python style (PEP8)
  * {{midterm_project_pct['commends'] or 2}}%: Does the program utilize comments appropriately
* {{final_exam_pct or 20}}%: Final exam in Runestone
* {{final_project_pct['total'] or 20}}%: Final project (programming assignment)
  * {{final_project_pct['syntax'] or 7}}%: Does the program run without syntax errors
  * {{final_project_pct['requirements'] or 5}}: Does the program contain all the required elements of the assignment
  * {{final_project_pct['style'] or 5}}%: Does the program utilize correct Python style (PEP8)
  * {{final_project_pct['doctests'] or 3}}%: Does the program utilize doctests and docstrings appropriately
